
.difficulty-hovers-container {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}

.difficulty-hovers {
    display: flex;
    align-self: center;
    width: 75%;
    justify-content: space-between;
}

.difficulty-hovers button{
    display: flex;
    color: #f3f3f3;
    background-color: #1B1B1B;
    border: 1px solid #9b9b9b;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
    width: 14%;
    text-align: center;
    justify-content: center;
}


#F-difficulty {
    background-color: #232323;
}

.difficulty-explanation-container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #1B1B1B;
    font-family: Fira Sans;
    font-weight: 200;
    align-self: center;
}

#difficulty-explanation-F{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
    background-color: #232323;
    border: transparent 1px solid;
    border-radius: 10px;
}

#difficulty-explanation-D{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
    background-color: #232323;
    border: transparent 1px solid;
    border-radius: 10px;
}

#difficulty-explanation-C{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
    background-color: #232323;
    border: transparent 1px solid;
    border-radius: 10px;
}

#difficulty-explanation-B{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
    background-color: #232323;
    border: transparent 1px solid;
    border-radius: 10px;
}

#difficulty-explanation-A{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
    background-color: #232323;
    border: transparent 1px solid;
    border-radius: 10px;
}

#difficulty-explanation-S{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
    background-color: #232323;
    border: transparent 1px solid;
    border-radius: 10px;
}

#difficulty-explanation-SS{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
    background-color: #232323;
    border: transparent 1px solid;
    border-radius: 10px;
}


.content-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    font-size: 18px;
    padding-left: 60px;
}

#title-skill {
    font-size: 28px;
}

.content-svg {
    display: flex;
    width: 35%;
    justify-content: center;
}