
.hero-blurb { /*hero caption*/
    display: flex;
    flex-direction: row;
    width: 75%;
    font-size: 28px;
    align-self: center;
    text-align: center;
    font-family: Fira Sans;
    font-weight: 200;
}