.hero {
    width: 90%;
    height: calc(100vh - 138px);
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding: 20px 0;
}

.hero-gradient {
    position: absolute;
    background: radial-gradient(circle at center, white 0%, #87b382 25%, #6d6d6d 35%,  #5f4e5d 45% ,#1b1b1b 70%);

    opacity: 0.3;
    width: 40vw;
    height: 40vw;
    top: calc(50vh - 17vw);
    left: 3vw;
    z-index: -1;
}


.hero-image-column-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: center;
}

#hero-svg {
    display: flex;
    width: 90%;
    transition: all;
}

#hero-svg {
    animation: float 4s ease-in-out infinite ;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}


.hero-text{
    width: 50%;
    padding: 40px;
    align-self: center;
    text-align: center;
    position: relative;
}

.hero-title{
    margin-top: 40px;
    font-size: 80px;
    font-weight: bold;
    animation: glow 5s ease-in-out infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    25% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
    50% {
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    }
    75% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}


.hero-caption{
    font-size: 24px;
    font-family: Fira Sans;
    font-weight: 200;
    margin-top: 60px;
}

.hero-cta {
    display: flex;
    width: 100%;
    height: 50px;
    font-family: Fira Sans;
    justify-content: space-around;
}

.hero-cta-button-1{
    display: flex;
    width: 200px;
    height: 50px;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #242424;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.hero-cta-button-1::after {
    content: '';
    position: absolute;
    width: 204px;
    height: 54px;
    border-radius: 30px;

    background-image: linear-gradient( to bottom left, rgb(131, 33, 170) , #b41b86 );
    z-index: -1;
}
.hero-cta-button-1:hover {
    cursor: pointer;
    background-color: #2e1630;
    transition: all 0.3s ease-in;
    box-shadow: 40px 0 60px  rgba(131, 33, 170, 0.432), -40px 0 60px #b41b866b;
}


.hero-cta-button-2{
    display: flex;
    width: 200px;
    height: 50px;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #242424;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.hero-cta-button-2::after {
    content: '';
    position: absolute;
    width: 204px;
    height: 54px;
    border-radius: 30px;

    background-image: linear-gradient( to bottom left, rgb(69, 131, 33) , #379268);
    z-index: -1;
}
.hero-cta-button-2:hover {
    cursor: pointer;
    background-color: #17351b;
    transition: all 0.3s ease-in;
    box-shadow: 40px 0 60px #37926085, -40px 0 60px rgba(69, 131, 33, 0.521);
}


.cta-svg {
    margin-top: 15px;
    margin-bottom: 15px;
}