.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: (50%, 50%);
  border: 8px solid #c2c2c2; /* Light grey base */
  border-top: 8px solid #b66da3; /* Blue spinner color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
