.navbar {
    display: flex;
    flex-direction: row;
    background-color: #333333;
    padding: 0.5rem 20px;
    justify-content: space-between;
    height: 62px;

    scroll-snap-align: start;
}

.navbar__logo {
    padding: 7px 0;
}

.navbar__logo--svg {
    width: 3rem;
    height: 3rem;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.navbar__list--items  {
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-decoration: none;
    border: solid 2px;
    border-color: transparent;
    padding: 0.2rem;
    border-radius: 4px;
}

.navbar__list--items:hover {
    border-radius: 4px;
    transition-property: all;
    transition-duration: 500ms;
}

.navbar__list--pink:hover {
    border-bottom-color: #b66da3
}
.navbar__list--green:hover {
    border-bottom-color: #bbca88
}


#nav-item {
    text-decoration: none;
    color: #F8F8F8;
}