
.terms-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-self: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    
}

.terms {
    display: flex;
    flex-direction: row;
    width: 80%;
    
    @media (max-width: 1250px) {
        width: 100%;

    }

    @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        justify-items: center;
    }
}

.single-term {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 25%;

    @media (max-width: 768px) {
        width: auto;
        text-align: center;
        align-items: center;
        
    }
}

.term-title {
    display: flex;
    font-size: 24px;
    margin-bottom: 30px;
    @media (max-width: 1250px) {
        font-size: 20px;

    }
}

.term-text {
    display: flex;
    color: #cacaca;
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 16px;
    @media (max-width: 1250px){
        font-size: 14px;
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }

}