
.skill-hero { /*container for hero stuff*/
    height: fit-content;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    font-size: 36px;
    justify-content: flex-end;
    

}

.skill-hero-title { /*hero title*/
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 48px;
}
