.catergory-title {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-self: center;

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        font-size: 28px;
    }
}

.catergory-blurb {
    display: flex;
    width: 45%;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 200;

    @media (max-width: 768px) {
        align-self: center;
        width: auto;
        margin-top: 20px;
        font-size: 16px;

    }
}
.catergory-blurb.vp {

    width: 48%;
    @media (max-width: 768px) {
        align-self: center;
        width: auto;
        margin-top: 20px;
    }
}


.catergory-container {
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
    width: 90%;

    /* media query for mobile devices */
    @media (max-width: 768px) {
        flex-direction: column;
        width: 90%;
    }
    
    
}

.buttons-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 30px 20px;
    justify-content: space-evenly;
    text-align: center;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 10px 20px;
    }
}

.skill-button {
    border: solid 2px;
    border-color: #565656;
    border-radius: 4px;
    background-color: #181818;
    color: white;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 200;
    width: 14%;
    padding: 8px;
    cursor: pointer;
    text-align: center;

    @media (max-width: 1000px) {
        font-size: 16px;

    }
    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;

    }
}

/* .incomplete-button {
    border: solid;
    border-color: #565656;
    background-color: #181818;
    color: white;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 200;
    width: 14%;
    padding: 8px;
    cursor: pointer;
    text-align: center;
} */

.skill-button:hover {
    background-color: #641b547a;
    transition-property: all;
    transition-duration: 500ms;
    cursor: pointer;
}

/* .incomplete-button:hover {
    background-color: #00ff557a;
    transition-property: all;
    transition-duration: 500ms;
    cursor: pointer;
} */

.skill-content {
    display: flex;
    height: 30vh;
    padding: 25px 0;
    flex-direction: row;
    width: 90%;
    border: solid 1px rgb(128, 128, 128); 
    border-left: none;
    border-right: none;
    justify-self: center;
    background-color: #202020;
    overflow: hidden;
    transition: all 0.7s ease;
    margin-left: 5%;
    margin-right: 5%;   
    
    @media (max-width: 768px) {
        display: hidden;
        flex-direction: column;
        height: auto;
    }

}

.skill-content.hidden{
    height: 0px;
    padding: 0px;
    transition: all 0.8s ease-in-out;      
}

#skill-image {
    width: 13vw;
    height: 13vw;
    align-self: center;
    margin-top: 1rem;
    @media (max-width: 768px) {
        margin: 0;
        
    }
}

.skill-content--left {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 2%;
    @media (max-width: 768px) {
        width: auto;
        padding: 0 5%;
        align-items: center;
        
    }
}

.skill-content--link {
    text-decoration: none;
    color: white;
    animation: glowSkill 5s ease infinite;
    padding: 10px;
    border: 1px #b1afaf solid;
    border-radius: 0px;

    @media (max-width: 1000px) {
        width: auto;
        border: solid 1px #b1afaf;
        line-height: 2;
    }

    @media (max-width: 768px) {
        width: auto;
        border: none;
        line-height: 1.5;
    }
}
.skill-content--link:hover {
    
    background-color: rgb(43, 43, 43);
    @media (max-width: 768px) {
        border-radius: 8px;
    }
}

@keyframes glowSkill {
    0% {
        text-shadow: 0 0 15px rgb(234, 0, 255);
    }
    25% {
        text-shadow: 0 0 25px rgb(255, 255, 255);
    }
    50% {
        text-shadow: 0 0 35px rgb(0, 255, 13);
    }
    75% {
        text-shadow: 0 0 25px rgba(255, 255, 255);
    }
    100% {
        text-shadow: 0 0 15px rgb(234, 0, 255);
    }
}

.skill-content--right {
    display: flex;
    width: 40%;
    padding: 0 2%;
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 20px;

    @media (max-width: 768px) {
        width: auto;
        justify-content: center;
        font-size: 16px;
        padding: 20px 5%;
        width: auto;
        text-align: center;
        
    }
}

.skill-content--title {
    font-size: 28px;

    @media (max-width: 768px) {
        font-size: 20px;
        text-align: center;
    }
}

.skill-content--close__button{
    display: flex;
    width: fit-content;
    height: 31px;
    margin-left: 5vw;
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    font-size: 1.5em; /* Adjust size of the 'X' */
    cursor: pointer; /* Indicate it's clickable */
    color: #dadada; /* Set color of the 'X' */
    padding: 0; /* Remove default padding */
    line-height: 1; /* Adjust line height for vertical centering */
    @media (max-width: 768px) {
        margin-left: 0;
        align-self: center;        
    }
}

.skill-content--close {
    position: relative;
    right: 0;
    top: 0;
    
    background-color: transparent;
    border: none;
    justify-self: center;
    


    @media (max-width: 768px) {
        margin-left: 0;
        align-self: center;        
    }

}


