.catergory-title {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-self: center;
}

.catergory-blurb {
    display: flex;
    width: 45%;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 200;

}
.catergory-blurb.vp {

    width: 48%;
}


.catergory-container {
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
    width: 90%
    
}

.buttons-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 20px;
    justify-content: space-evenly;
    text-align: center;

}

.skill-button {
    border: solid;
    border-color: #565656;
    background-color: #1B1B1B;
    color: white;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 200;
    width: 14%;
    padding: 8px;
    cursor: pointer;
    text-align: center;

}

.skill-button:hover {
    background-color: #641b547a;
    transition-property: all;
    transition-duration: 500ms;
    cursor: pointer;
}

.skill-content {
    display: flex;
    height: 20vh;
    padding: 25px 0;
    flex-direction: row;
    width: 90%;
    border: solid 1px rgb(128, 128, 128); 
    border-left: none;
    border-right: none;
    justify-self: center;
    background-color: #202020;
    overflow: hidden;
    transition: all 0.7s ease;      

}

.skill-content.hidden{
    height: 0px;
    padding: 0px;
    transition: all 0.8s ease-in-out;      
}

.skill-content--left {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 2%;
}

.skill-content--link {
    text-decoration: none;
    color: white;
    animation: glowSkill 5s ease infinite;
}
.skill-content--link:hover {
    
    border-bottom: solid 1px rgb(189, 189, 189);
    
}

@keyframes glowSkill {
    0% {
        text-shadow: 0 0 15px rgb(234, 0, 255);
    }
    25% {
        text-shadow: 0 0 25px rgb(255, 255, 255);
    }
    50% {
        text-shadow: 0 0 35px rgb(0, 255, 13);
    }
    75% {
        text-shadow: 0 0 25px rgba(255, 255, 255);
    }
    100% {
        text-shadow: 0 0 15px rgb(234, 0, 255);
    }
}

.skill-content--right {
    display: flex;
    width: 40%;
    padding: 0 2%;
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 20px;
}

.skill-content--title {
    font-size: 28px;
}

.skill-content--close__button{

    width: 20px;
    

    &::before, &::after { 
        content: '';
        display: inline-block;
        height: 22px;
        width: 1px;
        background-color: white;
      }
    
      &::before {
        transform: rotate(-45deg);
      }
    
      &::after {
        transform: rotate(45deg);
        
      }
}

.skill-content--close {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    justify-self: right;
    margin-left: 8%;
    padding: 6px;

}

.skill-content--close:hover{
    background-color: #333333;
    transition: all 0.2s ease-in-out;
}

