.navbar {
  display: flex;
  flex-direction: row;
  background-color: #333333;
  padding: 0.5rem 20px;
  justify-content: space-between;
  height: 62px;

  scroll-snap-align: start;

  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
}

.navbar__logo {
  padding: 7px 0;
  @media (max-width: 768px) {
    padding: 10px 0;
  }
}

.navbar__logo--svg {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  @media (max-width: 768px) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.mobile-button {
  display: none;

  @media (max-width: 640px) {
    display: block;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 15%;
    padding: 5px;
  }

  /* &::before, &::after { 
        content: '';
        display: inline-block;
        height: 41px;
        width: 3px;
        background-color: #5a0247;
      }
    
      &::before {
        transform: rotate(-45deg);
        margin-bottom:1px;
      }
    
      &::after {
        transform: rotate(0deg);
        margin-bottom:2px;
      } */
}

.mobile-button:hover {
  background-color: #474747;
  transition: 0.2s all ease-in-out;
  border-radius: 4px;
  cursor: pointer;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  align-items: center;

  @media (max-width: 1300px) {
    width: 80%;
  }

  @media (max-width: 768px) {
    font-size: 2vw;
  }

  @media (max-width: 640px) {
    display: none;
  }
}


.spanburger {
  display: none;
  height: 36px;
  width: 40px;
  margin-left: auto;
  position: relative;
  align-self: center;

  @media (max-width: 640px) {
    display: flex; 
  }
}

.spanburger span {
  background: rgba(255, 255, 255, 0.76);
  height: 2px;
  width: 100%;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.spanburger span:nth-child(1) {
  top: 25%;
}
.spanburger span:nth-child(3) {
  top: 75%;
}

.spanburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.spanburger.active span:nth-child(2) {
  opacity: 0;
}
.spanburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.mobile__list{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #0a0a0a;
  border-radius: 4px;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  transition: 0.3s ease-in-out;
  z-index: 1;
  opacity: 0.95;

  @media (max-width: 640px) {
    display: flex;
  }
}

.mobile__list.active {
  right: 0;
}

.mobile__list > ul {
  margin: 0;
  padding: 0;
}

.mobile__list > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  border: solid 1px;
  border-color: transparent;
  padding: 10px;
  width: calc(100% - 24px);
  text-align: center;
  border-radius: 35px;
  margin: 20px 0;
} 

.mobile__list >a:hover {
  background-color: #414141;
}


.navbar__list--items {
  display: flex;
  flex-direction: row;
  justify-self: center;
  text-decoration: none;
  border: solid 2px;
  border-color: transparent;
  padding: 3px;
  border-radius: 4px;
}

.navbar__list--items:hover {
  border-radius: 4px;
  transition-property: all;
  transition-duration: 500ms;
}

.navbar__list--pink:hover {
  border-bottom-color: #b66da3;
}
.navbar__list--green:hover {
  border-bottom-color: #bbca88;
}

#nav-item {
  text-decoration: none;
  color: #f8f8f8;
}

#mobile-item {
  text-decoration: none;
  color: #f8f8f8;
  width: calc(100% - 24px);
}

.navbar__logout--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #f8f8f8;
  font-family: Major Mono Display;
  font-size: 16px;
  cursor: pointer;
  padding: 9px;
  border-radius: 25px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;

  @media (max-width: 640px) {
    display: flex;
    font-size: 20px;
  }
}

.logout-button:hover {
  background-color: #414141;
  transition-property: all;
  transition-duration: 500ms;
}

.logout-button__mobile {
  border: none;
  font-size: 20px;
  cursor:pointer;
  color: white;
  background-color: transparent;
  font-family: Major Mono Display;
  justify-content: center;
  align-items: center;
  display: flex;
}

.account-icon-nav {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}