.yt-tutorial {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #252525;

    @media screen and (max-width: 768px) {
        padding: 0 0;
        
    }
}

.yt-tutorial-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
}

.yt-tutorial-item {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vw;

    @media (max-width: 768px) {
        width: 100%;
        height: 50vw;
        padding: 20px 0;
        
    }
}

.yt-tutorial-iframe {
    width: 80%;
    height: 100%;
    border: none;

    @media (max-width: 768px) {
        width: 90%;
        height: 100%;
        
    }
}