.portfolio-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0b0b0b;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  color: #d2e2dc;
  scroll-behavior: smooth;

  scroll-timeline: --portfolio-scroll y;
  scroll-timeline: --portfolio-scroll vertical;
}

.portfolio-container::-webkit-scrollbar {
  display: none;
  width: 8px;
  background-color: transparent;
}

.portfolio-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.portfolio-container::-webkit-scrollbar-thumb {
  background: #646968;
  border-radius: 4px;
}

.fixed-visual {
  position: fixed;
  top: 0;
  left: 61.8%;
  width: 38.2%;
  height: 100vh;
  background-color: #060606;
  border-left: 1px rgb(85, 85, 85) solid;
  z-index: 10;
  pointer-events: none;
  place-items: center;
  align-content: center;

  animation: slide-out linear both;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 100%;
}
@keyframes slide-out {
  18% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(0);
  }
}

.portfolio-close {
  position: fixed;
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;
  z-index: 10;

  animation: hide-close linear;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 100%;
}

@keyframes hide-close {
  0% {
    opacity: 1;
  }
  9% {
    z-index: 0;
    opacity: 0;
  }
  95% {
    z-index: 0;
    opacity: 0;
  }
  100% {
    z-index: 10;
    opacity: 1;
  }
}

.scroll-progress {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 3px;
  z-index: 10;
  background-color: #a2d3bf;
  animation: progress-track linear;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 100%;
}

@keyframes progress-track {
  0% {
    transform: translate(0, 0vh);
  }
  27% {
    left: 0px;
  }
  28% {
    left: -4px;
  }
  69% {
    left: -4px;
  }
  70% {
    left: 0px;
  }
  100% {
    transform: translate(0, 100vh);
  }
}

.visual-container {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.rotate-svg {
  opacity: 1;
  animation-duration: 28s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-delay: 1s;
}
.rotate-svg {
  animation-name: rotate, wheel-fade;
  animation-duration: 28s, auto;
  animation-iteration-count: infinite, 1;
  animation-timeline: auto, --portfolio-scroll;
  animation-range:
    auto,
    0% 100%;
}

@keyframes wheel-fade {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 1;
  }
  8% {
    display: none;
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  0%,
  10% {
    transform: rotate(0deg);
  }
  12.5%,
  22.5% {
    transform: rotate(45deg);
  }
  25%,
  35% {
    transform: rotate(90deg);
  }
  37.5%,
  47.5% {
    transform: rotate(135deg);
  }
  50%,
  60% {
    transform: rotate(180deg);
  }
  62.5%,
  72.5% {
    transform: rotate(225deg);
  }
  75%,
  85% {
    transform: rotate(270deg);
  }
  87.5%,
  97.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.draw-circle {
  fill: none;
  stroke: #d2e2dc;
  stroke-width: 3;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  will-change: stroke-dashoffset;
  filter: drop-shadow(0 0 8px #d2e2dca1);

  animation: draw 3.5s ease-in-out forwards;
}

.draw-line {
  stroke: #d2e2dc;
  stroke-width: 3;

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  will-change: stroke-dashoffset;
  animation: draw 2s ease-in-out forwards;

  filter: drop-shadow(0 0 8px #d2e2dca1);
}

.center1 {
  animation-delay: 1s;
}

.group1 {
  animation-delay: 1.2s;
}
.group2 {
  animation-delay: 1.4s;
}
.group3 {
  animation-delay: 1.6s;
}
.group4 {
  animation-delay: 1.8s;
}
.group5 {
  animation-delay: 2s;
}
.group6 {
  animation-delay: 2.2s;
}
.group7 {
  animation-delay: 2.4s;
}
.group8 {
  animation-delay: 2.6s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.chart-svg {
  bottom: 50%;
  transform: translateY(-65%);

  animation: chart-fade linear;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 100%;
}

@keyframes chart-fade {
  0% {
    display: none;
    opacity: 0;
  }
  8% {
    display: none;
    opacity: 0;
  }
  12% {
    display: block;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chart-zoom-fade {
  0% {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
  8% {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
  12% {
    display: block;
    opacity: 1;
    transform: scale(0.6);
  }
  17% {
    opacity: 1;
    transform: scale(0.6);
  }
  19% {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

#chart-data {
  width: 100%;
  justify-self: center;
  transform-origin: 87% 82%;
  transform-box: fill-box;
  align-self: center;
  animation: chart-zoom-fade linear;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 100%;
}

.intro-section {
  bottom: -100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  justify-content: center;

  animation: fade-out 1s linear both;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 8%;
}

@keyframes fade-out {
  50% {
    opacity: 1;
  }
  70% {
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(12px);
  }
}

.portfolio-section {
  bottom: -100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  height: 100vh;
  justify-content: center;
  border-top: 1px solid white;

  animation: content-focus linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 100%;
}

.intro-title {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 42px;
  color: #e0f1eb;
  width: auto;
  margin-bottom: 20px;
  text-shadow:
    0px 0px 16px rgb(255, 255, 255),
    0px 0px 32px rgb(255, 255, 255);
}

.section-title {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 36px;
  color: #e0f1eb;
  width: auto;
  text-shadow:
    0px 0px 16px rgb(255, 255, 255),
    0px 0px 32px rgb(255, 255, 255);
}

.fade-left {
  animation: fade-left linear;
  animation-timeline: --portfolio-scroll;
  animation-range: cover 3% cover 10%;
}
@keyframes fade-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40px);
  }
}

.section-content {
  display: flex;
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 24px;
  color: #eefff9;
  width: fit-content;
  line-height: 1.5;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.fade-right {
  animation: fade-right linear;
  animation-timeline: --portfolio-scroll;
  animation-range: cover 3% cover 10%;
}
@keyframes fade-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}

.rainbow-text {
  margin-left: 12px;
  margin-right: 2px;
  animation: 6s infinite rainbow;
}
@keyframes rainbow {
  0% {
    color: #dc34eb;
  }
  20% {
    color: #e64937;
  }
  40% {
    color: #eba234;
  }
  60% {
    color: #9ceb34;
  }
  80% {
    color: #34ebbd;
  }
  100% {
    color: #dc34eb;
  }
}

.accent-text {
  color: #78ffd2;
}

.skills-content {
  display: flex;
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 24px;
  color: #eefff9;
  width: fit-content;
  line-height: 1.5;
  flex-direction: row;
  width: 100%;
  height: 60vh;
  gap: 40px;
}

.skills-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #eefff9;
  width: 33%;
  font-size: 24px;
  height: 100%;
  /* filter: drop-shadow(0px 0px 12px #1c2b27); */
}

.skill-projects-tech {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #060606;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  height: auto;
}

.skill-projects {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skill-project-ex {
  font-size: 20px;
  color: #6adfb8;
}

.project-tech-divider {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  height: 1px;
  background-color: #777777;
  margin-bottom: 5px;
}

.skill-tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 16px;
  color: #6adfb8;
}

.skill-tech > span {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 28px;
  padding: 5px 18px 2px 18px;

  line-height: 1;

  background-color: #1c2b27;
  border-radius: 9999px;
}

.skills-divider {
  display: flex;
  height: 100%;
  width: 1px;
  background-color: #5e6666;
  filter: drop-shadow(0px 0px 4px #5bcfb0);
}

.skill-title {
  font-weight: 400;
  font-size: 24px;
  color: #b1c2bc;
}

.skill-text {
  font-size: 20px;
}


.skill-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 25px;
}

.skill-list > li::marker {
  color: #6adfb8;
}

.heatmap-container-wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  animation: show-map linear both;
  animation-timeline: --portfolio-scroll;
  animation-range: 78% 90%;
}

@keyframes show-map {
  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, calc(-50% + 40px));
  }
  10% {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-50%, -50%);
  }
  90% {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, calc(-50% - 40px));
  }
}

.sixty-div {
  display: flex;
  width: 56.8%;
  flex-direction: column;
  gap: 40px;
  color: #e0f1eb;

  animation: fill-out linear both;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 100%;
}

@keyframes fill-out {
  18% {
    width: 56.8%;
  }
  28% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  80% {
    width: 56.8%;
  }
}

@keyframes content-focus {
  0% {
    filter: blur(12px);
    opacity: 1;
    transform: scale(0.9) translateY(40px);
    border-color: transparent;
  }
  40%,
  60% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    filter: blur(12px);
    opacity: 1;
    transform: scale(0.95) translateY(-40px);
    border-color: transparent;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 400vh;
  height: 400vh;
  /* border-bottom: 1px solid white; */

  animation: project-fade linear both;
  animation-timeline: --portfolio-scroll;
  animation-range: 18% 85%;
}

@keyframes project-fade {
  0% {
    opacity: 0;
    filter: blur(12px);
  }
  10% {
    opacity: 1;
    filter: blur(0px);
  }
  90% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(12px);
  }
}

.project-title {
  --start: 0;
  --end: 298vh;

  display: flex;
  flex-direction: row;
  background-color: transparent;
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 42px;
  color: #e0f1eb;
  width: auto;
  text-shadow:
    0px 0px 16px rgb(255, 255, 255),
    0px 0px 32px rgb(255, 255, 255);

  animation: stick-top linear both;
  animation-timeline: --portfolio-scroll;
  animation-range: 28% 70%;
}

#wings-font {
  font-family: Major Mono Display;
}

.swypelogo {
  width: 35px;
  margin-right: 8px;
  margin-top: 6px;
}

.swype-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  border: 1px transparent;
}

#swype-font {
  font-family: Itim;
  color: #DE9643;
  filter: drop-shadow(0px 0px 8px #DE9643) drop-shadow(0px 0px 12px #DE9643);
}

.project-card {
  width: calc(100% - 60px);
  max-width: 1400px;
  justify-self: center;
  height: 75vh;
  background-color: #060606;
  border: 1px solid #777777;
  border-radius: 25px;
  animation: stick-top linear both;
  animation-timeline: --portfolio-scroll;

  padding-left: 30px;
  padding-right: 30px;
  transform-origin: center top;

  position: relative;
  overflow: hidden;
}

@keyframes stick-top {
  from {
    transform: translateY(var(--start)) scale(var(--scale-start, 1));
  }
  to {
    transform: translateY(var(--end)) scale(var(--scale-end, 1));
  }
}

.project-card:nth-child(1) {
  --start: 0vh;
  --end: 298vh;

  --scale-start: 1;
  --scale-end: 0.9;

  animation-range: 28% 70%;
  z-index: 1;
}
.project-card:nth-child(2) {
  --start: 30vh;
  --end: 224vh;

  --scale-start: 1;
  --scale-end: 0.94;

  animation-range: 42.5% 70%;
  z-index: 2;
}
.project-card:nth-child(3) {
  --start: 60vh;
  --end: 150.5vh;

  --scale-start: 1;
  --scale-end: 0.97;

  animation-range: 57% 70%;
  z-index: 3;
}

.project-card:hover .card-bg {
  transform: scale(1.08);
  filter: blur(0px);
  opacity: 0.8;
}

.project-card:hover .card-title {
  top: calc(100% - 63px);
  left: 30px;
  bottom: 30px;

  transform: translate(0, 0);
  font-size: 30px;
  padding: 10px;
}
.project-card:hover .swype-div {
  transform: translateY(-15px);
  background-color: #060606;
  border-radius: 9999px;
  padding: 0px 15px;
  border: 1px #DE9643 solid;
}
.project-card:hover .swypelogo {
  margin-top: 0px;
}
.project-card:hover #swype-font {
  color: white;
  font-weight: 100;
  margin-bottom: 4px;
  filter: none;
}

.project-card:hover .card-info {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}
.project-card:hover .card-tags {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}
.project-card:hover .card-tags > span {
  transform: translateY(2px);
}

.project-card:hover .card-links {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

.card-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.7s ease;
  opacity: 0.5;
  background-repeat: no-repeat;
  
  filter: blur(8px);
}

#bg-wings {
  background-image: url("wingsbg2.png");
}

#bg-swype {
  background-image: url("swypebg.png");
}

.card-title {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  font-size: 32px;
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(0px 0px 8px #99a8a4) drop-shadow(0px 0px 12px #b9c4c0);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  justify-self: center;
  align-items: center;
}

.card-info {
  width: fit-content;
  position: absolute;
  right: 30px;
  transform: translateX(40px);
  bottom: 20px;
  opacity: 0;
  filter: blur(10px);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  background-color: #060606;
  padding: 10px;
  border: 1px #777777 solid;
  border-radius: 9999px;
  font-weight: 100;
  font-size: 18px;
}

.card-tags {
  position: absolute;
  background-color: #060606;
  padding: 12px 30px;
  align-items: center;
  justify-items: center;
  text-align: center;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  gap: 20px;
  font-weight: 100;
  font-size: 18px;
  border-bottom: 1px #777777 solid;
  transform: translateY(-40px);
  opacity: 0;
  filter: blur(12px);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.card-stats {
  color: #6adfb8;
}

.card-links {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 30px;
  right: 30px;
  top: 10px;
  align-items: center;
  transform: translateY(-40px);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.project-link:hover {
  transform: scale(1.15);
}

.education-content {
  display: flex;
  font-family: Raleway;
  font-weight: 100;
  font-size: 24px;
  color: #eefff9;
  width: fit-content;
  line-height: 1.5;
  flex-direction: row;
  width: 60%;
  gap: 25px;
  margin-top: 40px;
}

.timeline-svg {
  left: 5%;
  top: 10%;
  width: 20px;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-left: 20px;
  width: 100%;
}

.timeline-item:nth-child(1) {
  animation-range: 73% 77%;
}
.timeline-item:nth-child(2) {
  animation-range: 75% 79%;
}
.timeline-item:nth-child(3) {
  animation-range: 77% 81%;
}
.timeline-item:nth-child(4) {
  animation-range: 79% 83%;
}
.timeline-item:nth-child(5) {
  animation-range: 80% 84%;
}

@keyframes slide-right {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

.timeline-item {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  height: 105px;

  animation: slide-right linear;
  animation-timeline: --portfolio-scroll;
}

.timeline-date {
  font-family: Raleway;
  font-size: 12px;
  color: #eefff980;
  margin-bottom: 5px;
}

.timeline-title {
  font-family: Josefin Sans;
  font-size: 24px;
  color: #eefff9;
}

.timeline-inst {
  font-family: Raleway;
  font-size: 14px;
  color: #6adfb8;
}

.timeline-desc {
  font-family: Josefin Sans;
  margin-top: 8px;
  font-size: 14px;
  color: #eefff9;
}

.timeline-highlight {
  font-family: Raleway;
  font-size: 20px;
  color: #6adfb8;
}

.contact-div {
  display: flex;
  width: 56.8%;
  flex-direction: column;
  gap: 5px;
  color: #e0f1eb;

  animation: fill-out linear both;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 100%;
}

.contact-title {
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 32px;
  color: #e0f1eb;
  text-shadow:
    0px 0px 16px rgb(255, 255, 255),
    0px 0px 32px rgb(255, 255, 255);
}

.contact-name {
  margin-top: 40px;
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 60px;
  color: #e0f1eb;
  letter-spacing: 3px;
}

.contact-caption {
  font-family: Raleway;
  font-size: 18px;
  color: #eefff946;
  word-spacing: 3px;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Raleway;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 18px;
  color: #eefff9;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-final {
  margin-top: 40px;
  font-weight: 100;
  font-family: Josefin Sans;
  font-size: 24px;
  color: #e0f1eb67;
}

.contact-label {
  color: #eefff97a;
}
