.portfolio-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0b0b0b;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  color: #d2e2dc;

  scroll-timeline: --portfolio-scroll y;
  scroll-timeline: --portfolio-scroll vertical;
}

.portfolio-container::-webkit-scrollbar {
  display: none;
  width: 8px;
  background-color: transparent;
}

.portfolio-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.portfolio-container::-webkit-scrollbar-thumb {
  background: #646968;
  border-radius: 4px;
}

.fixed-visual {
  position: fixed;
  top: 0;
  left: 61.8%;
  width: 38.2%;
  height: 100vh;
  background-color: #060606;
  z-index: 10;
  border-left: 1px solid rgb(92, 92, 92);
  pointer-events: none;
  place-items: center;
  align-content: center;
}

.visual-container {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.rotate-svg {
  animation: rotate 28s linear infinite;
  animation-delay: 2s;
}
@keyframes rotate {
  0%, 10% {
    transform: rotate(0deg);
  }
  12.5%, 22.5% {
    transform: rotate(45deg);
  }
  25%, 35% {
    transform: rotate(90deg);
  }
  37.5%, 47.5% {
    transform: rotate(135deg);
  }
  50%, 60% {
    transform: rotate(180deg);
  }
  62.5%, 72.5% {
    transform: rotate(225deg);
  }
  75%, 85% {
    transform: rotate(270deg);
  }
  87.5%, 97.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.draw-circle {
  fill: none;
  stroke: #d2e2dc;
  stroke-width: 3;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  will-change: stroke-dashoffset;
  filter: drop-shadow(0 0 8px #d2e2dca1);

  animation: draw 3.5s ease-in-out forwards;
}

.draw-line {
  stroke: #d2e2dc;
  stroke-width: 3;

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  will-change: stroke-dashoffset;
  animation: draw 2s ease-in-out forwards;

  filter: drop-shadow(0 0 8px #d2e2dca1);
}

.center1 {
  animation-delay: 1s;
}

.group1 {
  animation-delay: 1.3s;
}
.group2 {
  animation-delay: 1.6s;
}
.group3 {
  animation-delay: 1.9s;
}
.group4 {
  animation-delay: 2.2s;
}
.group5 {
  animation-delay: 2.5s;
}
.group6 {
  animation-delay: 2.8s;
}
.group7 {
  animation-delay: 3.1s;
}
.group8 {
  animation-delay: 3.4s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.intro-section {
  bottom: -100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  height: 100vh;
  justify-content: center;

  animation: fade-out 1s linear both;
  animation-timeline: --portfolio-scroll;
  animation-range: 0% 10%;
}

.portfolio-section {
  bottom: -100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  height: 100vh;
  justify-content: center;

  animation: content-focus linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 100%;
}

.section-title {
  display: flex;
  background-color: transparent;
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 42px;
  color: #e0f1eb;
  width: auto;
  text-shadow:
    0px 0px 16px rgb(255, 255, 255),
    0px 0px 32px rgb(255, 255, 255);
}

.section-content {
  display: flex;
  font-family: Josefin Sans;
  font-weight: 100;
  font-size: 24px;
  color: #e0f1eb;
  width: fit-content;
  margin-top: 20px;
  line-height: 1.5;
  flex-direction: column;
  gap: 40px;
  width: 92%;
}

.skills-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #e0f1eb;
  width: 90%;
  background-color: #060606;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
  filter: drop-shadow(0px 0px 10px #222c29);
}

.skill-list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.sixty-div {
  display: flex;
  width: 61.8%;
  flex-direction: column;
  gap: 20px;
  color: #e0f1eb;
}

@keyframes fade-out {
  50% {
    opacity: 1;
  }
  80% {
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(12px);
  }
}

@keyframes content-focus {
  0% {
    filter: blur(12px);
    opacity: 1;
    transform: scale(0.9) translateY(40px);
    border-color: transparent;
  }
  40%,
  60% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    filter: blur(12px);
    opacity: 1;
    transform: scale(0.95) translateY(-40px);
    border-color: transparent;
  }
}
