
.skill-info-container { /*container for skill info*/
    display: flex;
    width: auto;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: #212121;

    padding: 0 5%;
}

.skill-info {   /*actual skill info stuff*/
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 50px;
    font-size: 25px;
    @media (max-width: 768px) {
        padding: 0 20px;
        font-size: 20px;
        
    }
}

.skill-section-title {
    font-size: 32px;
    padding: 40px 0px;
    color: white;
    align-self: center;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 24px;
        padding: 20px 0px;
        
    }
}


.difficulty-muscle { /*container for difficulty and muscles involved section*/
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-family: Fira Sans;
    font-weight: 200;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 0 0px;
        
    }
}

.skill-difficulty { /*skill difficultuly. muscles, high strain*/
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 20px;
        font-size: 18px;
    }
}


.overview-explanation { /*overview blurb*/
    width: 50%;
    line-height: 135%;
    @media (max-width: 768px) {
        width: 100%;
        padding: 0 20px;
        font-size: 18px;

    }
}

.exercise-instructions-container {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: Fira Sans;
    font-weight: 200;
    padding: 20px 0 20px 0;
    border-top: solid rgb(187, 187, 187) 1px;
    border-bottom: solid rgb(187, 187, 187) 1px;

    @media (max-width: 768px) {
        font-size: 18px;
        
    }

}
.exercise-instructions {  /*overall instructions for skill container*/
    display: flex;
    flex-direction: row;
    font-size: 25px;

    @media (max-width: 768px) {
        font-size: 16px;
        
    }
}

#skill-read-more { /*checkbox for readmore functionality*/
    display: none;
    
}

#skill-read-more:checked ~ .skill-instructions { 
    display: block;
    
    
}
#skill-read-more:checked ~ label {
    display: none;
    
}

.skill-instructions { /*actual text in instructions */
    display: none;
}
.skill-instructions li { /*list item in instructions */
    margin-top: 13px;
    margin-bottom: 13px;
}

.read-more-label {  /*button for readmore*/
    display: inline-block;
    cursor: pointer;
    color: #919191;
    font-size: 18px;
    margin-top: 5px;

    @media (max-width: 768px) {
        font-size: 14px;        
    }
}
.read-more-label:hover {  /*button for readmore*/
    text-decoration: underline;
}

.recommended-info {
    font-family: Fira Sans;
    font-weight: 200;
    width: auto;
}

.link-text { /*general styling for random links*/
    text-decoration: none;
    color: #f3f3f3;
}

.link-text:hover { 
    cursor: pointer;
    text-decoration: underline;
}

#NA {
    width: 7vw;
    height: 7vw;
    align-self: center;
}

#real-skill {
    width: 7vw;
    height: 7vw;
    align-self: center;
}
#real-skill:hover {
    cursor: pointer;
}


.technique-form-container { /*container for technique stuff*/
    display: flex;
    flex-direction: row;
    background-color: #282828;

    padding: 0 5%;
}

.technique-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;
    font-size: 25px;

    @media (max-width: 768px) {
        padding: 0 20px;
        font-size: 20px;
        
    }
}

.technique-form-content {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    font-family: Fira Sans;
    font-weight: 200;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 0;
        
    }
}

.technique-form-text {
    display: flex;
    flex-direction: column;
    font-family: Fira Sans;
    font-weight: 200;
}

.technique-form-content > div{
    width: 30%;

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 20px;
        
    }
}

.technique-form-content > div > ul > li{
    margin-top: 10px;
}
