.dashboard-welcome {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    padding: 20px;

    @media (max-width: 1000px) {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        font-size: 16px;
        flex-direction: column;
    }
}

.dashboard-welcome__email {
    font-family: Fira Sans;
    font-weight: 200;
}

.dashboard-skill__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 40px 0; 
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.dashboard-skill__title {
    display: flex;
    width: auto;
    height: auto;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
    text-align: center;

    @media (max-width: 1000px) {
        font-size: 24px;
    }
}

.dashboard-skill__push {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    justify-content: center;
    align-content: center;
    @media (max-width: 1000px) {
        font-size: 16px;
        width: 100%;
    }
}
.dashboard-skill__push > p {
    align-self: center;
    text-align: center;
}

.dashboard-skill__pull {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    justify-content: center;
    @media (max-width: 1000px) {
        font-size: 16px;
        width: 100%;
    }
}
.dashboard-skill__pull > p {
    align-self: center;
    text-align: center;
}
.dashboard-skill__difficulty {
    display: flex;
    width: auto;
    height: auto;
    padding: 10px 20px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    @media (max-width: 1000px) {
        font-size: 16px;
    }
}

.skill-selector {
    display: flex;
    width: 275px;
    height: 50px;
    background-color: #111111;
    color: white;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 200;
    border: 1px solid rgb(255, 255, 255, 0.5);
    justify-self: center;
    align-self: center;
    margin: 20px;
    @media (max-width: 1000px) {
        font-size: 16px;
        width: 235px;
        height: 40px;

    }
    @media (max-width: 768px) {
        font-size: 14px;
        width: 200px;
        height: 35px;


    }
}

.skill-selector option{
    background-color: #111111;
    color: white;
    font-weight: 200;
}

.skill-selector option:hover{
    background-color: none;
}

.skill-svg {
    display: flex;
    padding: 40px;
    cursor: default;
    justify-self: center;
    align-self: center;
    @media (max-width: 768px) {
        padding: 20px;
    }
}
.skill-svg:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    cursor: pointer;
}
