.login-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 150px;
    height: 150px;
}

.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
}

.signup-block {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

}

.signup-form {
    display: flex;
    flex-direction: column;
    border: rgb(255, 255, 255, 0.5) 1px solid;
    width: 25%;
    height: 66%; 
    border-radius: 35px;
    @media (max-width: 1400px) {
        width: 40%;
    }
    @media (max-width: 1000px) {
        width: 50%;
        height: fit-content;
    }
    @media (max-width: 768px) {
        width: 70%;
    }
    @media (max-width: 500px) {
        width: 90%;
    }
}

.signup-form__margin{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    padding: 0 15%;
    background-color: #252525;
    justify-content: center;
    border-radius: 35px;
    @media (max-width: 1000px) {
        padding: 20px 15%;
    }
}

.signup-form__logo-container {
    display: flex;
    justify-content: center;
}

#signup-logo {
    width: 70px;
    height: 70px;
}

.signup-form__title {
    font-family: Major Mono Display;
    font-size: 28px;
    margin: 2rem 0 0 0;
    cursor: default;
}

.signup-form__label {
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 16px;
    margin-top: 10px;
}

.signup-form__input-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.signup-form__inputs {
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 18px;
    margin: 6px 0;
    height: 35px;
    border-radius: 4px;
    background-color: #3d3d3d;
    border: solid 1px rgba(126, 126, 126, 0.5);
    caret-color: white;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.password-label-wrapper {
    margin-top: 10px;
    display: flex;
}

.forgot-password-link {
    margin-left: auto;
    text-decoration: none;
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 14px;
    color: rgb(145, 145, 145);
    margin-top: auto;
}

.forgot-password-link:hover {
    text-decoration: underline;
    color: rgb(170, 170, 170);
}

.password-wrapper {
    position: relative;
}

#show-password {
    position: absolute;
    display: flex;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-items: center;
}


.signup-form__submit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 14px;
}

.signup-form__submits {
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color:#b66da3;
    color: white;
    cursor: pointer;
}

.create-account-prompt {
    text-decoration: none;
    font-family: Fira Sans;
    font-weight: 200;
    color: rgb(145, 145, 145);
    width: fit-content;
}

.create-account-prompt:hover {
    text-decoration: underline;
    color: rgb(170, 170, 170);
}


.desktop-block {
    display: none;
    width: 0%;
    height: auto;

    @media (max-width: 1200px) {
    display: none;
    width: 0%;
    }
}