.skill-node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 9999px;
  background: transparent;
  border: solid transparent 1px;
  box-shadow: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.skill-node:hover {
  transform: scale(1.1);
}

.react-flow__controls {
  background-color: #2e2e2e !important;
  box-shadow: none !important;
}

.react-flow__controls-button {
  background-color: #2e2e2e !important;
  fill: #ffffff !important;
  border: 1px solid rgb(80, 80, 80) !important;
}

.react-flow__controls-button:hover {
  background-color: #333333 !important;
}

#tree-size {
  width: 140px;
  height: 140px;
}

#color-size {
  width: 80px;
  height: 80px;
  transition: transform 0.2s ease;
}

#color-size:hover {
  transform: scale(0.9);
  cursor: grab;
}

.text-node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 9999px;
  background: transparent;
  border: solid transparent 1px;
  box-shadow: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: 80px;
  color: white;
  line-height: 1.2;
}

.caption-node {
  display: flex;
  align-items: left;
  justify-content: left;
  width: 800px;
  height: fit-content;
  border-radius: 9999px;
  background: transparent;
  border: solid transparent 1px;
  box-shadow: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: 50px;
  color: white;
}

.color-node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 9999px;
  border: solid transparent 1px;
  box-shadow: none;
  cursor: pointer;
  background: white;
}

.react-flow__attribution {
  font-family: Fira Sans;
  font-size: 12px;
  font-weight: 200;
  color: rgb(192, 192, 192) !important;
  background-color: transparent !important;
}

.skill-window {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: transparent;
  opacity: 1;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.skill-window.close {
  top: 50%;
  left: 150%;
}

.skill-window-content {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 70%;
  background-color: #252525;
  opacity: 2;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  @media (max-width: 768px) {
    width: 90%;
    flex-direction: column;
    height: fit-content;
  }
}

.skill-window__svg-container {
  width: calc(50% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  @media (max-width: 768px) {
    width: auto;
    flex-direction: column;
    height: calc(40% - 40px);
    padding: 20px 20px 0 20px;
  }
}
.skill-window__svg {
  width: 80%;
  height: 80%;

  @media (max-width: 768px) {
    width: 60%;
    height: 60%;
  }
}

.skill-window__text {
  width: calc(50% - 80px);
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  justify-content: center;
  justify-self: center;
  align-self: center;
  gap: 15px;

  @media (max-width: 768px) {
    padding: 20px 20px 0 20px;
    width: auto;
    height: fit-content;
    flex-direction: column;
    margin-right: 0px;
  }
}

.skill-window__title {
  font-size: 36px;
  color: white;
  margin-top: 15px;

  @media (max-width: 1000px) {
    font-size: 32px;
  }

  @media (max-width: 768px) {
    font-size: 28px;
    align-self: center;
    text-align: center;
  }
}

.skill-window__description {
  font-size: 20px;
  color: white;
  font-family: Fira Sans;
  font-weight: 200;

  @media (max-width: 1000px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    align-self: center;
    text-align: center;
  }
}

.skill-window__targeted-muscles {
  font-size: 20px;
  color: white;
  font-family: Fira Sans;
  font-weight: 200;

  @media (max-width: 1000px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    align-self: center;
    text-align: center;
  }
}

.skill-window__category {
  font-size: 20px;
  color: white;
  font-family: Fira Sans;
  font-weight: 200;

  @media (max-width: 1000px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    align-self: center;
    text-align: center;
  }
}

.skill-window__muscle-use {
  font-size: 20px;
  color: white;
  font-family: Fira Sans;
  font-weight: 200;
  margin: 0;

  @media (max-width: 1000px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    align-self: center;
    text-align: center;
  }
}

.skill-window__link {
  text-decoration: none;
  font-size: 24px;
  background-color: #111111;
  border: rgba(255, 255, 255, 0.2) 1px solid;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  @media (max-width: 768px) {
    font-size: 16px;
    align-self: center;
    text-align: center;
    width: 95%;
    margin-top: 20px;
  }
}
.skill-window__link:hover {
  background-color: #3a0f317a;
}

.skill-window__go {
  color: white;
  text-decoration: none;
  font-family: Fira Sans;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  @media (max-width: 768px) {
    font-size: 22px;
  }
}

.skill-window__close-btn {
  position: relative;
  top: 20px;
  right: 20px;
  width: auto;
  height: fit-content;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #f3f3f3;
  padding: 0;
  line-height: 1;

  @media (max-width: 768px) {
    position: relative;
    top: 0px;
    right: 0px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.skill-update__container {
  display: flex;
  flex-direction: row;
  width: auto;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #1f1f1f;
}

.skill-update__select {
  display: flex;
  width: fill;
  color: white;
}

.skill-update__select > select {
  width: 100%;
  background-color: #111111;
  color: white;
  font-family: Major Mono Display;
  font-weight: 200;
  font-size: 14px;
  border: transparent;
  border-radius: 4px 0 0 4px;

  padding: 12px;
}

.progress-rp {
  width: 160px;
  text-align: center;
  justify-content: center;
  align-content: center;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 15px rgb(255, 174, 255);
  background-color: #111111;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
