.intro-block {
    display: flex;
    padding: 2rem 15%;
    justify-content: center;
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 24px;
}

.svg-gradient-container {
    display: flex;
    width: auto;
    justify-content: center;
    padding: 28px 1rem;
}

.svg-gradient {
    display: flex;
    width: 80%;
}

.difficulty-hovers-container {
    display: flex;
    width: auto;
    justify-content: center;
}

.difficulty-hovers {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.difficulty-hovers button{
    display: flex;
    color: #f3f3f3;
    background-color: #1B1B1B;
    border: 1px solid #cacaca;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    font-family: Fira Sans;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
}


#F-difficulty {
    background-color: #232323;
}

.difficulty-explanation-container {
    display: flex;
    width: auto;
    justify-content: center;
    background-color: #232323;
    font-family: Fira Sans;
    font-weight: 200;
}

#difficulty-explanation-F{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
}

#difficulty-explanation-D{
    display: none;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
}

#difficulty-explanation-C{
    display: none;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
}

#difficulty-explanation-B{
    display: none;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
}

#difficulty-explanation-A{
    display: none;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
}

#difficulty-explanation-S{
    display: none;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
}

#difficulty-explanation-SS{
    display: none;
    flex-direction: row;
    width: 75%;
    padding: 2rem;
}



#push-up {
    width: 14vw;
    height: 14vw;
    align-self: center;
}

#dip {
    width: 14vw;
    height: 14vw;
    align-self: center;
}

#pike-pushup {
    width: 14vw;
    height: 14vw;
    align-self: center;
}

#tuck-pl {
    width: 14vw;
    height: 14vw;
    align-self: center;
}

#str-pl {
    width: 14vw;
    height: 14vw;
    align-self: center;
}

#full-pl {
    width: 14vw;
    height: 14vw;
    align-self: center;
}

#maltese {
    width: 14vw;
    height: 14vw;
    align-self: center;
}