

.tutorial-header {
    padding: 40px 20% 20px;
    font-size: 23px;
    font-family: Fira Sans;
    font-weight: 200;
    text-align:center;

    @media (max-width: 768px) {
        padding: 35px 5%;
        font-size: 18px;
        text-align: center;
    }
}

.tutorial-selector {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    color: white;

    @media (max-width: 768px) {
        width: 90%;
        padding: 10px 0;
    }
}

.skill-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10%;
}

.skill-list-header {
    width: 15%;
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
}

/* minimal scrollbar inside the dropdown list */
.tutorial-select__menu-list {
  overflow-y: auto;
}

/* Webkit scrollbar (Chrome, Edge, Safari) */
.tutorial-select__menu-list::-webkit-scrollbar {
  width: 9px;
}

.tutorial-select__menu-list::-webkit-scrollbar-track {
  background: #333333;
}

.tutorial-select__menu-list::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

.tutorial-select__menu-list::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}